* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

.container .box {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 75px;
    height: 100px;
    background: yellow;
    margin: 10px;
}

.container > div {
    flex:1 50px;
}

.container .box:first-child, .box:last-child{
    background-color: green;
}



